@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

@theme {
  --color-primary: #F21A1F;
  --color-secondary: #222262;
  /* ==================================== */
}

.input {
  @apply w-full rounded-lg border border-gray-300 px-4 py-3 text-sm
  focus:outline-none focus:ring-2 focus:ring-secondary focus:border-transparent;
}